body {
  background: linear-gradient(135deg, #001133 50%, #005588 100%);
  margin: 20;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}   

.container {
  background-color: #ffffff;
  padding: 35px 25px;     
  border-radius: 16px;
  text-align: center;
  max-width: 380px;         
  width: 90%;               
  box-shadow: 0 10px 30px rgba(0, 234, 255, 0.878); 
  color: #333333; 
  transition: transform 0.3s ease;
}


/*
.foto {
  max-width: 50%;
  height: auto;
  border-radius: 20px;
  margin-bottom: 20px;
  object-fit: cover;
}*/
.foto {
  width: 150px;        
  height: 150px;        
  border-radius: 50%;
  object-fit: cover;    
  margin-bottom: 20px;
}